*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, red, yellow);
}

#container{
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    background-color: azure;
    width: 50%;
    border-radius: 10px;
}

.question{
    background-image: linear-gradient(180deg, rgb(132, 55, 255), rgb(232, 129, 250));
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
}

.button{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 0.9em;
    background-color: pink;
}
.button:hover{
    background-color: white;
    border: 5px solid green;
    color: green;
}
.optionno{
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    padding: 5px;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    #container{
        width: 100%;
    }
  }